@font-face {
  font-family: gineso;
  src: url(fonts/GinesoCondBold.otf);
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('images/blueridgecover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background: none;
}

#titlebox {
    background:	rgb(256,256,256,.25)
}

#rivertext {
    background:	rgb(256,256,256,.5)
}

#sectiontitle {
    background-image: url(images/moundbg-04.svg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

model-viewer {
    background-color: #b87333;
    width: auto;
    height: 400px;
}

.masthead2 {
  height: 100vh;
  min-height: 500px;
  background-image: url(images/JamesRiver.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead3 {
  height: 100vh;
  min-height: 500px;
  background-image: url(images/bearmtn.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

p{
    text-align: justify;
    font-family: 'Crimson Text';
    font-size: 20px;
}

.grid-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
}

.btn{
    background-color: #c66b27;
}

h2{
    border-bottom: 5px solid;
    border-bottom-color: #c66b27;
    font-family: gineso;
}

h1{
    font-family: gineso;
    font-size: 75px
}

.figure-caption{
    font-family: 'Crimson Text';
    font-size: 15px;
}