@font-face {
  font-family: gineso;
  src: url(../fonts/GinesoCondBold.otf);
}

@font-face {
  font-family: tangerine;
  src: url(../fonts/Tangerine.ttf);
}

@font-face {
  font-family: tangerine-bold;
  src: url(../fonts/Tangerine-Bold.ttf);
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/blueridgecoversm.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#rivertext {
    background:	rgb(256,256,256)
}

// model-viewer {
    width: auto;
    height: 350px;
}

.masthead2 {
  height: 110vh;
  min-height: 500px;
  background-image: url(../images/JamesRiver.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead3 {
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/bearmtn.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead4 {
  height: 110vh;
  min-height: 500px;
  background-image: url(../images/smithmap.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead5 {
  height: 120vh;
  min-height: 500px;
  background-image: url(../images/topowdot.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead6 {
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/powwow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead7 {
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/vatomi02.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.masthead8 {
  height: 150vh;
  min-height: 500px;
  background-image: url(../images/mound%202%20copy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.quote {
    font-family: 'tangerine-bold';
    font-size: 45px;
}

p{
    text-align: justify;
    font-family: 'Crimson Text';
    font-size: 20px;
}

ul{
    text-align: left;
    font-family: 'Crimson Text';
    font-size: 20px;
    list-style-type: none;
}

.grid-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
}

h1{
    font-family: gineso;
    font-size: 60px;
    color: rgb(256,256,256);
}

h2{
    border-bottom: 5px solid;
    border-bottom-color: #c66b27;
    font-family: 'gineso';
}

h6 {
    font-family: 'Crimson Text';
    font-size: 15px;
}

.figure-caption{
    font-family: 'Crimson Text';
    font-size: 15px;
}

.btn{
    background-color: #80cec8;
}